@import "tailwindcss";
@plugin "flyonui" {themes: all;};
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js"; 

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out both;
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}


